/* 
 * Import all the containers' CSS
 * */
@import url("./ui/profile.css");
@import url("./ui/search.css");
@import url("./ui/time.css");
@import url("./ui/links.css");
@import url("./ui/quote.css");
::selection {

  background: var(--accent-colour);

}
/* Chrome Specific engine */
::-webkit-scrollbar {
   width: 4px;
   height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #80808040;
}
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {

  background: transparent;

}

/*
 * For all containers
 * */
body > *:not(#background) {

  color: var(--text-colour);

}

/* Chrome Engine */
*::-webkit-scrollbar {

  display: none;

}

.dark {

  position: relative;

  /* Styling */
  background: var(--background-colour);
  box-shadow: 0 0 1rem var(--light-input);
  backdrop-filter: blur(4px);

}

.dark::after {

  content: '';

  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  
  border: 2px solid var(--accent-colour);
  pointer-events: none;

  box-shadow: 0 0 1rem var(--light-input); 

}
